
.container{
    display: flex;
    border : 10px solid black;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    width: 35vw;
    gap: 10px;

}
.row{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.box{
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color: red;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color:skyblue;
}
#box5{
    background-color:orange;;
}
#box6{
    background-color: aqua;
}
#box7{
    background-color: yellow;
}
#box8{
    background-color: red;
}
#box9{
    background-color: greenyellow;
}
#box10{
    background-color: aqua;
}